/* BASE STYLES --------*/

/*body {
background: black;
color: #967878;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 15px;
}*/

video {
  margin: 10%;
  width: 60%;
}

h1, h2, h3, h4, h5 {
font-family: "Jaldi", Helvetica, Arial, sans-serif;
}

h1 {
color: #ffffff;
font-size: 50px;
font-weight: normal;
margin-bottom: 0;
}

h2 {
color: #503226;
font-size: 26px;
margin: 10px 0;
font-weight: normal;
}

h3 {
color: #503226;
font-size: 19px;
font-weight: normal;
margin: 10px 0;
}

p {
line-height: 30px;
}

sup {
font-size: 60%;
padding: 0 4px;
}

.container {
  margin: auto;
  max-width: 1000px;
  padding: 40px 20px 70px;
}

.logo {
  width: 50px;
  float: left;
  margin-right: 10px;
}

.smallbold {
  color: rgba(0,0,0,0.4);
  display: block;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation a {
  border-bottom: 3px solid transparent; /* Necessary for :hover & .active */
  color: #FF512F;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0 12px 0 0;
  padding: 4px 2px;
  text-decoration: none;
  font-family: "Jaldi", Helvetica, Arial, sans-serif;
}

.navigation a.active,
.navigation a:hover {
  border-bottom-color: #fbc2c3;
}

.navigation a.active {
  color: #b1290e;
}

/* LAYOUT STYLES --------*/
/* HEADER --*/
.header {
  padding: 20px;
}

.header .navigation {
  float: left;
}

.header .navigation a {
  text-transform: uppercase;
}

video {
/* video border */
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 20px; /* transitions applied to the vodeovideo element */
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out; transition: all 1s ease-in-out;
}

/* background color and gradient */
video,
#start,
#stop,
#pause,
#plus,
#minus,
#mute {
/* background color */
  /*background-color: #ffcccc;*/
/* background gradient */
  background-image: linear-gradient(top, #fff, #fcc);
  background-image: -moz-linear-gradient(top, #fff, #fcc);
  background-image: -webkit-linear-gradient(top, #fff, #fcc);
  background-image: -o-linear-gradient(top, #fff, #fcc);
  background-image: -ms-linear-gradient(top, #fff, #fcc);
}

/* shadows */
video,
#start,
#stop,
#pause,
#plus,
#minus,
#mute {
  box-shadow: 0 0 10px #ccc;
}

video:hover,
video:focus,
#start:hover,
#stop:hover,
#pause:hover,
#plus:hover,
#minus:hover,
#mute:hover {
/* glow */
  box-shadow: 0 0 20px #f88;
}

#controls {
  display: none;
  margin: 10px 30px;
}

/* style for buttons */
#start,
#stop,
#pause,
#plus,
#minus,
#mute {
  /*border: 1px solid #ccc;*/
  padding: 5px;
  border-radius: 10px;
  width: 60px; margin: 0 10px 0 0;
}

body {
/* color tranzitiontransition */
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
  -ms-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
/* initial color */
  background-color: black;
}

#progressbar {
  display: none;
/* size */
  width: 500px;
  height: 20px;
/* position and border */
  position: relative;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 20px;
/* background color */
  background-color: gray;
/* background gradient */
  background-image: linear-gradient(top, #fff, #ccc);
  background-image: -moz-linear-gradient(top, #fff, #ccc);
  background-image: -webkit-linear-gradient(top, #fff, #fcc);
  background-image: -o-linear-gradient(top, #fff, #ccc);
  background-image: -ms-linear-gradient(top, #fff, #ccc);
/* shadow */
  box-shadow: 0 0 10px #ccc;
}

#loadingprogress{
/* border */
  border-radius: 20px;
/* initial size */
  height: 20px; width: 0;
/* background color */
  background-color: #9acd00;
/* background gradient */
  background-image: linear-gradient(top, #ffffff, #9acd00);
  background-image: -moz-linear-gradient(top, #ffffff, #9acd00);
  background-image: -webkit-linear-gradient(top, #ffffff, #9acd00);
  background-image: -o-linear-gradient(top, #ffffff, #9acd00);
  background-image: -ms-linear-gradient(top, #ffffff, #9acd00);
}
